---
layout: default
title: LULU'S BLOG | Home
---

<!--Featured Recipes Row-->
  <div class="container">
    <div class="text-center">
      <br><br><h1><strong>Recent Recipes</strong></h1><br><br>
    </div>
    <div class="row">
      {% assign sortedrecipearticles = site.recipe-articles | sort: 'date' | reverse %}
      {% for recipe-article in sortedrecipearticles limit:3 %}
      <div class="column">
        <div class="card">
          <div class="card-thumbnail">
            <a href="{{ recipe-article.url }}"><img src="{{ recipe-article.image }}" alt="{{ recipe-article.title }}" style="width:100%"></a>
          </div>
          <div class="caption text-center">
              <p><a href="{{ recipe-article.url }}"><strong>{{ recipe-article.title }}</strong></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      
<!--Featured Travel Guides Row-->
    <div class="text-center">
      <br><br><br><br><h1><strong>Features</strong></h1><br><br>
    </div>
    <div class="row">
      {% assign sortedfeatures = site.feature-collection | sort: 'date' | reverse %}
      {% for feature in sortedfeatures limit:3 %}
      <div class="column">
        <div class="card">
          <div class="card-thumbnail">
            <a href="{{ feature.url }}" target="_blank"><img src="{{ feature.image }}" alt="{{ feature.title}}" style="width:100%"></a>
          </div>
          <div class="caption text-center">
            <p><a href="{{ feature.url }}"><strong>{{ feature.title }}</strong></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
<br><br><br>
<!-- The homepage about block-->
  <section class="jumbotron text-center">
    <h2>JLU'S BLOG</h2>
    <h3>Documenting my food journey: one bite, photo, and word at a time </h3><br>
    <a class="btn btn-primary" href="/about" role="button">Learn More</a>
  </section>
<!--Container-->
  <div class="container">
    <div class="text-center">
    </div>
  </div>