html, body {
  min-height: 100%;
  font-weight: 300;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 50px;
}

.page-title {
  text-align: center;
  font-weight: inherit;
}

@media screen and (min-width: 992px) {
  .navbar-default {
    padding: 30px 0;
    transition: padding 0.3s;
  }
  .navbar-default.navbar-shrink {
    padding: 10px 0;
  }
}

.navbar {
  height: 4.44rem;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
}
.navbar-brand {
  font-size: 30px;
  float: center;
  display: inline;
}
.navbar-left {
  float: left;
  display: inline;
}
.navbar-right {
  float: right;
  display: inline;
}
nav ul {
  
}
nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav.navbar.shrink {
  min-height: 35px;
}
nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}
nav.shrink .navbar-brand {
  font-size: 25px;
}
nav.shrink .navbar-toggle {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}
.featured{
   display: flex;
   flex-wrap: wrap;
   align-items: center; 
}

.jumbotron {
  display: flex;
  align-items: center;
  background-color: black;
  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 20 0 20px;
  color: #fff;
}
.btn {
    background-color: black;
}
.content-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.content-item {
  flex: 1;
  flex-basis: 25%;
  margin: 20px;
}

.content-item .thumbnail {
  width: 100%;
  height: auto;
  border: 2px solid #ffffff;
}