body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

nav a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px;
  color: white;
}
nav a:hover {
  color: darkgray;
}
.navbar {
  background-color: black;
}
.navbar-brand {
  font-size: 30px;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
}
.right {
  float: right;
  display: inline;
}
.left {
  float: left;
  display: inline;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-color: black;
  background-size: cover;
  color: #ffffff;
  height: 300px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
.jumbotron h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 20 0 20px;
  color: #fff;
}
.btn {
    background-color: black;
}