<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="LULU's Food Journey.">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/main.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
<!--header-->
<div class="main-container">
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JLU</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav right">
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/recipes/index.html">RECIPES</a></li>
            <li><a href="/features/index.html">FEATURES</a></li>
            <li><a href="/subscribe">SUBSCRIBE</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
    
{{ content }}
    
<!--footer-->
  <footer class="text-center">
    <p>&copy Jielu Wang 2019</p>
  </footer>
</div>
</body>
</html>