<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="LULU's Food Journey.">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/main.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
</head>
<body>
<!--header-->
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="nav-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JLU</a>
        </div>
          
<!--
        <div id="wrap">
          <form action="" autocomplete="off">
            <input id="search" name="search" type="search" placeholder="What are we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
          </form>
        </div>
-->
          
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav right">
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/recipes/index.html">RECIPES</a></li>
            <li><a href="/features/index.html">FEATURES</a></li>
            <li><a href="/subscribe">SUBSCRIBE</a></li>
          </ul>
        </div> 
      </div>
    </nav>
  </header>
<div class="recipe" style="background-color:#fbf7f5">
<div class="recipe-head">
  <div class="recipe-banner">
    <div class="recipe-title text-center"> 
      <h1><strong>{{ page.title }}</strong></h1>
    </div>
    <div class="recipe-description text-center">
      <h4>{{ page.description }}</h4>
    </div>
  </div>
  <div class="recipe-image-1">
    <img src="{{ page.image-1 }}"> 
  </div>
</div>
<div class="recipe-image-2">
  <img src="{{ page.image-2 }}">
</div>
<div class="ingredients">
  <div class="ingredients-title"><h3 class="text-center">INGREDIENTS</h3><br></div>
  <p>{{ page.excerpt }}</p>
</div>
<div class="directions">
  <p style="font-size: 1.5rem">{{ page.advice }}</p>
  <p>{{content|remove_first: page.excerpt}}</p>
</div>
<!--footer-->
<div class="text-center" id="footer">
  <p>&copy Jielu Wang 2019</p>
</div>
</div>
</body>
</html>